<div class="row p-1 mx-auto">
    <article *ngFor="let producto of productos">
        <div class="col-md-4 p-2">
            <div class="card ">
                <img src="{{producto.imagen_url}}" class="card-img-top mx-auto" alt="...">
                <div class="card-body mx-auto">
                    <h4 class="card-title">{{producto.producto | uppercase}}</h4>
                    <h5 class="card-text">{{producto.precio}}</h5>
                    <a href="#" class="btn btn-outline-secondary btn-sm">Ver producto</a>
                    
                    <a href="#" class="btn btn-outline-success mr-2 btn-sm">Añadir a la bolsita</a>
                </div>
            </div>
        </div>
    </article>
</div>