<!--<h3>Cuéntanos con detalle tu problema, muy pronto nos pondremos en contacto contigo.</h3>-->
<div class="chat-usuarios-container">
  <div class="chat-usuarios">
    <hr />
    <div class="app-mensajes" id="app-mensajes">
      <div *ngFor="let chat of _cs.mensaje" [ngClass]="{ 'text-right': !chat.enviadoAdmin }">
        <span 
        [ngClass]="{'badge': true, 'badge-success': !chat.enviadoAdmin, 'badge-danger': chat.enviadoAdmin}">
        {{ chat.nombre }}
      </span>
        <p>
          {{ chat.mensaje }}
        </p>
      </div>
    </div>

    <input type="text" name="mensaje" [(ngModel)]="mensaje" class="form-control" (keyup.enter)="errorAuth()" placeholder="Enviar mensaje"
    />
  </div>
</div>