.app-mensajeria{
    overflow-y: scroll;
    height: 270px;
    padding: 5px;
}

.prueba{
    color: white;
}

.chat-usuarios-container{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.chat-usuarios{
    width: 70%;
}

.lista-chat-usuarios{
    width: 30%;
}

$color: white;