<!--<h3>Cuéntanos con detalle tu problema, muy pronto nos pondremos en contacto contigo.</h3>-->
<hr />
<div class="app-mensajes" id="app-mensajes">
  <div
    *ngFor="let chat of _cs.chats"
    [ngClass]="{ 'text-right': _cs.usuario.uid == chat.uid }"
  >
    <span class="badge badge-success">{{ chat.nombre }}</span>
    <p>
      {{ chat.mensaje }}
    </p>
  </div>
  <!--<div>
        <span class="badge badge-success">Maria</span>
        <p>
            Holiii x2
        </p>
    </div>-->
</div>

<input
  type="text"
  name="mensaje"
  [(ngModel)]="mensaje"
  class="form-control"
  (keyup.enter)="errorAuth()"
  placeholder="Enviar mensaje"
/>
