<div class="container col-12">
  <div class="p-3">
    <div class="card bg-light">
      <div class="card-body text-center">
        <h2>Te presentamos nuestro servicio de asesoría ambiental</h2>
        <h4>
          Aquí puedes solicitar ayuda de tipo ambiental, ya sea inmediata o
          personalizada. Un software especializado y un grupo de profesionales
          en todas las áreas están dispuestos para ayudarte a encontrar
          solciones para ti y sobre todo amigables con el medio ambiente.
        </h4>
      </div>
    </div>
  </div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active text-success" data-toggle="tab" href="#enlinea">
        <h6>Asesoría en línea</h6>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-success" data-toggle="tab" href="#personalizada">
        <h6>Asesoría personalizada</h6>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-success" data-toggle="tab" href="#contactate">
        <h6>Contáctate con nosotros</h6>
      </a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane container active" id="enlinea">
      <div class="p-4">
        <h4></h4>
        <div class="dropdown dropright">
          <button
            type="button"
            class="btn btn-outline-success dropdown-toggle"
            data-toggle="dropdown"
          >
            Elije una opción
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Persona</a>
            <a class="dropdown-item" href="#">Empresa</a>
          </div>
        </div>

        <h4>¿Cuál es tu problema?</h4>
        <textarea rows="6" cols="50" name="usrtxt" wrap="soft"> </textarea>
        <div>
          <button
            type="button"
            class="btn btn-outline-success mr-2 btn-sm"
            routerLink="Bolsita"
          >
            Enviar
          </button>
        </div>
      </div>
    </div>
    <div class="tab-pane container fade" id="personalizada">
      <div class="container main-container">
        <div class="chat-window">
          <h3>
            Cuéntanos con detalle tu problema, muy pronto nos pondremos en
            contacto contigo.
            <hr />
            <hr />
          </h3>
          <app-chat></app-chat>
        </div>
      </div>
    </div>
    <div class="tab-pane container fade" id="contactate">
      <div class="container main-container">
        <div class="chat-window">
          <h3>
            ¿Quieres que tu marca se venda en ThinkGreen? Envíanos toda la
            información de tus productos y muy pronto nos contactaremos contigo.
          </h3>
          <app-chat></app-chat>
        </div>
      </div>
    </div>
  </div>
  <!-- 
</div> 

<div class="card bg-light">
    <div class="card-body text-center">
      <p class="card-text">Some text inside the fifth card</p>
    </div>
  </div>  !-->
</div>
