<nav class="navbar navbar-expand-lg navbar-light fondo">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
    <div class="navbar-nav mx-auto">
      <a class="nav-item nav-link" routerLink="DetalleProducto">Productos</a>
      <a class="nav-item nav-link" routerLink="Asesorias">Asesórate</a>
      <button type="button"class="btn btn-outline-success mr-2 btn-sm" routerLink="Bolsita">Bolsita</button>
      <li class="dropdown notifications-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-bell-o"></i>
          <span class="label label-warning">1</span>
        </a>
        <ul class="dropdown-menu">
          <li class="header">Tu tienes 1 notifiaciones</li>
          <li>
            <!-- inner menu: contains the actual data -->
            <ul class="menu">


            


            </ul>
          </li>
        </ul>
      </li>

      <div class="icono">
        <img src="../././assets/img/chat.png" routerLink="Asesorias">
      </div>
    </div>
  </div>
</nav>