<div class="container">
  <form (ngSubmit)="CrearProducto(formNew)" #formNew="ngForm">
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <label>Product name</label>
          <input type="text" class="form-control"
           [(ngModel)]="producto.producto" [ngModelOptions]="{standalone:
            true}" placeholder="Example: bolsa de yuca">
        </div>
        <div class="form-group">
          <label>Brand</label>
          <input type="text" class="form-control"
          [(ngModel)]="producto.imagen_url"  [ngModelOptions]="{standalone:
            true}" placeholder="Example: adid">
        </div>
        <div class="form-group">
          <label>Price</label>
          <input type="text" class="form-control"
           [(ngModel)]="producto.precio" [ngModelOptions]="{standalone:
            true}" placeholder="$$$$$$">
        </div>
        <div class="col-md-5">

        </div>
        <button type="submit" class="btn btn-primary">Agregar Produco</button>
      </div>
    </div>
  </form>
</div>