<div class="container">
  <form>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <label for="exampleInputEmail1">Product name</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Example: bolsa de yuca">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Brand</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Example: adid">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Price</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="$$$$$$">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Description</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
        </div>
        <div class="col-md-5">

        </div>
        <button type="submit" class="btn btn-primary">Agregar Produco</button>
      </div>
    </div>
  </form>
</div>