<div class="container">
  <div class="row">
    <!-- Elementos generados a partir del JSON -->
    <main id="items" class="col-sm-3 carrito"></main>
    <!-- Carrito -->
    <aside class="col-sm-4">
      <h2>Bolsita</h2>
      <!-- Elementos del carrito -->
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="producto in bolsita">
          {{ producto.producto }}
          <strong class="pull-right">{{ producto.Precio | currency }}</strong>
        </li>
      </ul>
      <hr />
      <!-- Precio total -->
      <p class="text-right">Total: $<span id="total"></span></p>
    </aside>
  </div>
</div>
