<div class="container col-12">
  <div class="row">
    <div class="col mx-auto ">
        <img src="../././assets/img/4.png" routerLink="/">
    </div>
    <div class="col">

    </div>
    <div class="col" class="botones">
        <button type="button" *ngIf="!authservicio.isLoggedIn" class="btn btn-outline-success mr-2 btn-sm" routerLink="Login">Login</button>
        <button (click)="authservicio.logout()" type="button" *ngIf="authservicio.isLoggedIn" class="btn btn-outline-success mr-2 btn-sm" routerLink="/DetalleProducto">Logout</button>
        <button type="button" *ngIf="!authservicio.isLoggedIn" class="btn btn-outline-secondary btn-sm" routerLink="Register">Register</button>
    </div>
  </div>